<navbar></navbar>

<mz-parallax [height]="600">
    <img class="b-img1" src="./assets/images/bg-header.jpg">
    <div class="row position-header">
        <p class="center-align header-text">Make Your Blogs Unique</p>
        <hr class="header-divider">
        <p class="center-align para-text">A place to read, post and share your favourite blogs.</p>
    </div>
</mz-parallax>
<div class="section white section-one">
    <div class="row">
        <h4 class="header center">What You Get</h4>
        <hr class="section-divider">
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                <h2 class="center blue-text"><i class="material-icons icon">accessibility</i></h2>
                <h5 class="center">Simplicity</h5>

                <p class="light center">Sign up and start blogging about your areas of interest.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                <h2 class="center blue-text"><i class="material-icons icon">explore</i></h2>
                <h5 class="center">User Experience Focused</h5>

                <p class="light center">Use of Material Design helps to sharpen the user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                <h2 class="center blue-text"><i class="material-icons icon">group</i></h2>
                <h5 class="center">Free for all</h5>

                <p class="light center">Feel free to signup and share your ideas without a penny.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<mz-parallax [height]="520">
    <img class="b-img2" src="./assets/images/bg-section.jpg">
    <div class="row position-header">
        <p class="center-align header-text">Post Ideas</p>
        <hr class="header-divider">
        <p class="center-align para-text">Write your mind on your topics of interest.</p>
    </div>
</mz-parallax>

<page-footer></page-footer>